body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#background {
	background: url(../img/istockphoto-453310465-1024x1024.jpg) center center no-repeat;
	background-size: contain;
	height: 683px;
	margin: 0 auto;
	position: relative;
	width: 1024px;
}

#product-svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: multiply;
}

#product-shape {
  /*fill: #DBED64;*/
}

.colors {
  display: flex;
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 10;
}

.color {
  height: 96px;
  width: 96px;
  margin-left: 2.5em;
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  cursor: pointer;
}

@media screen and (min-width:768px) {
   .color {
      height: 72px;
      width: 72px;
      margin-left: .5em;
    }
}